body{
margin:0;
font-family:Arial;
background:linear-gradient(180deg,#0f2a44,#1e4e7a);
color:white;
display:flex;
flex-direction:column;
min-height:100vh;
}

header{
text-align:center;
padding:30px;
font-size:60px;
  color: #4c88c0;                 /* kolor tekstu */
  -webkit-text-stroke: 0.4px rgb(30, 32, 63); /* biała obwódka */
}

.kontener{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
gap:60px;
}

.rzad{
display:grid;
grid-template-columns:10% 20% 10% 20% 10% 20% 10%;
align-items:center;
}

.blok{
height:170px;
background:#2f6fb3;
border-radius:20px;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
font-size:20px;
cursor:pointer;
transition:0.4s;
box-shadow:0 8px 20px rgba(0,0,0,0.4);
padding:10px;
}

.blok:hover{
transform:scale(1.05);
background:#3d86d4;
}

.nakladka{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
display:flex;
align-items:center;
justify-content:center;
opacity:0;
pointer-events:none;
transition:0.3s;
}

.nakladka.aktywna{
opacity:1;
pointer-events:auto;
}

.okno{
    text-align: center;
    font-size: 200%;
width:70%;
height:70%;
background:#1f4f80;
border-radius:20px;
padding:40px;
overflow:auto;
position:relative;
}

.zamknij{
position:absolute;
top:15px;
right:20px;
font-size:28px;
cursor:pointer;
}

footer{
background:#0b1f33;
text-align:center;
padding:20px;
}